.ads {
  margin: 1em;
  padding: 1em;

  background-color: #f6f7f7;
  border-radius: 0.25em;
  border-color: #e8e9ec;
}

.ads__title {
  margin: 0 0 1em 0;
  color: #3b4144;
  font-size: 1.125em;
  font-family: Helvetica, sans-serif;
  line-height: 1.5em;
}

.ads__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0.938em;
}
